<a href="https://colab.research.google.com/github/TaiHo1944/u32784194/blob/master/4_%E5%BB%BB%E5%9C%88loop_md.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

變數1 = range(整數值)

In [1]:
list1=range(10)
print(list1)

print(list(list1))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

變數2 = range(起始值, 終止值)

In [2]:
list2=range(-4,5)
print(list(list2))

[-4, -3, -2, -1, 0, 1, 2, 3, 4]

變數3 = range(起始值, 終止值, 多少間隔)

In [3]:
list3=range(-4,5,2)
print(list(list3))

[-4, -2, 0, 2, 4]

In [4]:
list4=range(-4,6,2)
print(list(list4))

[-4, -2, 0, 2, 4]

[2]for 廻圈

In [5]:
for n in range(5):
  print(n)

0
1
2
3
4

In [6]:
for n in range(10):
    print(n, end='@')

    #print(n, end='%%%%')

0@1@2@3@4@5@6@7@8@9@

In [7]:
mysum = 0

for n in range(5):
  mysum += n
  print(mysum)

0
1
3
6
10

In [8]:
mysum = 0

for n in range(5):
  mysum += n

print(mysum)

10

In [16]:
x = int(input("請輸入一個正整數:"))
mysum = 0

for n in range(x):
  mysum += n

print(mysum)

請輸入一個正整數:5
10

[3]While Loop

In [ ]:
1!　=　１
2!　=　1*2　=　2
3!　=　1*2*3　=　6

In [ ]:
輸入::一個正整數 n
輸出::n!

當使用者輸入一個正整數 n 後，程式就會顯示
1*2*3*...*n 的乘積

In [12]:
total = i = 1

n = int(input("請輸入正整數 n 的值："))

while(i<=n):
    total *= i  
    i+=1      

print("%d!=%d" % (n, total))

請輸入正整數 n 的值：5
5!=120

[4]break 指令

In [ ]:
fruits = ["香蕉","蘋果","橘子","鳳梨","西瓜"]

while True:
    fruit = input("請輸入喜歡的水果(Enter 結束)：")

  #  if (fruit==""):
  #      break

    n = fruits.count(fruit) 
    if (n>0):  # 串列元素存在
        p=fruits.index(fruit)
        print("%s 在串列中的第 %d 項" %(fruit,p+1))
    else:
        print(fruit,"不在串列中!")

[5]continue 指令

在廻圈執行中途暫時停住不往下執行，而跳到廻圈的起始處繼續執行

撰寫一個可以排除數列中 5 的倍數的程式

輸入::一個正整數 n
輸出::
使用者只要輸入一個正整數，
程式會顯示由 1 到該整數的整數數列，但會將 5 的倍數排除

n = int(input("請輸入正整數："))

for i in range(1, n+1):
    if i % 5 ==0:
        continue
    print(i,end=" ")

小小測驗:
[程式閱讀題] 底下程式執行的結果為何?請說明其邏輯

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
for i in range(1,6):
    for j in range(1,5):
        for k in range(1,7):
            if( i != k ) and (i != j) and (j != k):
                print(i,j,k)

底下程式執行結果為何?

In [ ]:
for x in range(19):
  print(x)
for x in range(0,19,2):
  print(x)
for x in range(20,11,-1):
  print(x)
for x in range(0,19,-1):
  print(x)
output = ''

for x in range(0,19,3):
  output += str(x)
  print(output, end=" ")
output = ''

for x in range(0,19,3):
  print(x, end=" ")
list1 = range(0,19,3)

for x in list1:
  print(x, end=" ")

[程式閱讀題] 下列程式輸入淨利潤為11111時請問輸出為何?"""

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
i = int(input('淨利潤:'))

arr = [1000000,600000,400000,200000,100000,0]
rat = [0.01,0.015,0.03,0.05,0.075,0.1]
r = 0

for idx in range(0,6):
    if i>arr[idx]:
        r+=(i-arr[idx])*rat[idx]
        print((i-arr[idx])*rat[idx])
        i=arr[idx]

print(r)

[6]巢狀廻圈Nested Loop[自主學習主題]

廻圈中又包含廻圈的巢狀廻圈　

留給你當作業：九九乘法表